<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper/EntityMapper.xml">
    <resultMap id="entityMap" type="com.zsj.rpcgame.entity.GamePlayer">
        <result column="UserId" property="UserId" jdbcType="INTEGER"/>
		<result column="Content" property="Content" jdbcType="VARCHAR"  typeHandler="com.zsj.rpcgame.mybatis.hanlder.MySqlJsonObjectHandler" />
    </resultMap>

	<!--
	#{}: 解析为一个 JDBC 预编译语句（prepared statement）的参数标记符，一个 #{ } 被解析为一个参数占位符 。
    ${}: 仅仅为一个纯碎的 string 替换，在动态 SQL 解析阶段将会进行变量替换。
    -->
    <select id="select" resultMap="entityMap" parameterType="java.lang.String">
		select UserId,Content from #{tableName}
	</select>

    <update id="update"  parameterType="com.zsj.rpcgame.entity.GamePlayer" >
		UPDATE
		#{tableName,jdbcType=VARCHAR}
		SET Content=#{Content,jdbcType=OTHER,typeHandler=com.zsj.rpcgame.mybatis.hanlder.MySqlJsonObjectHandler}
		WHERE UserId =#{UserId}
	</update>

	<insert id="insert"  parameterType="com.zsj.rpcgame.entity.GamePlayer" >
		insert into
		#{tableName,jdbcType=VARCHAR}
		(Content, UserId)
		values
		(
		#{Content,jdbcType=OTHER,typeHandler=com.zsj.rpcgame.mybatis.hanlder.MySqlJsonObjectHandler}
		,#{UserId,jdbcType=INTEGER}
		)
	</insert>

	<delete id="delete">
		delete
		from
		#{tableName,jdbcType=VARCHAR}
		where
		#{UserId,jdbcType=INTEGER}
	</delete>
</mapper>